<br>
<br>
<br>
<br>
<br>
<br>
<p>With Ivy enabled [yPosition] causes: Property 'yPosition' does not exist on type 'HTMLElement'.</p>
<!--
  Note for some reason when using ng serve I have to restart it when commenting out the menu
  below or it will complain about not recognizing matMenu.  Once restarted menu2 builds and runs fine
  with menu 1 commented out.
-->
<!-- -->
<button mat-button [matMenuTriggerFor]="aboveMenu">Menu 1</button>
<mat-menu #aboveMenu="matMenu" [yPosition]="'above'">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>

<p>Oddly, yPosition (no brackets) doesn't cause any error</p>
<button mat-button [matMenuTriggerFor]="menu2">Menu 2</button>
<mat-menu #menu2="matMenu" yPosition="above">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>
